<h1> Services Index Page </h1>
<%= link_to("Add new service", new_service_path) %>
<br />

<% @services.each do |service| %>
    <li><%= link_to service.date, service_path(service) %></li>
    <li><%= service.work_description%></li>
    <li><%= service.vehicle %></li>
    <br />
<% end %>


<!-- create_table "services", force: :cascade do |t|
  t.string "date"
  t.string "work_description"
  t.integer "car_miles"
  t.integer "work_hours"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
