<h1> Parts Index Page </h1>


<% @parts.each do |part| %>
    <li><%= link_to part.part_name, part_path(part) %></li>
    <li><%= part.part_number%></li>
    <li><%= part.part_designation%></li>
    <br />
<% end %>

<%= link_to("New Part", new_part_path) %>





<!-- create_table "parts", force: :cascade do |t|
  t.string "part_number"
  t.string "part_name"
  t.integer "cost"
  t.string "part_designation"
  t.integer "quantity"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
  t.integer "vendor_id"
end -->
