<h1> Owners Index Page </h1>

<% @owners.each do |owner| %>
    <li><%= link_to owner.name, owner_path(owner) %></li>
    <li><%= owner.phone_number%></li>
    <li><%= owner.email%></li>
    <br />
<% end %>


<!-- create_table "owners", force: :cascade do |t|
  t.string "name"
  t.string "street"
  t.string "city"
  t.string "state"
  t.integer "zip"
  t.string "phone_number"
  t.string "email"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
