<h1> Owners New Page </h1>


<%= link_to 'Back', owners_path(@owners) %>



<!-- create_table "owners", force: :cascade do |t|
  t.string "name"
  t.string "street"
  t.string "city"
  t.string "state"
  t.integer "zip"
  t.string "phone_number"
  t.string "email"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
