<h1>Vendors Index Page</h1>

<% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor) %></li>
    <br />
<% end %>

<!-- create_table "vendors", force: :cascade do |t|
  t.string "name"
  t.string "contact"
  t.string "website"
  t.string "location"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
