<h1>Vendors New Page</h1>


<%= link_to 'Back to Vendors', vendors_path(@vendors) %>

<!-- create_table "vendors", force: :cascade do |t|
  t.string "name"
  t.string "contact"
  t.string "website"
  t.string "location"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
