<h1> VehicleServiceParts Index Page </h1>




<!-- create_table "vehicle_service_parts", force: :cascade do |t|
  t.integer "vehicle_id"
  t.integer "service_id"
  t.integer "part_id"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
